.header {
    height:4em;
}

div#navbarTogglerDemo01 .active {
    background-color: #0265a7;
    padding: 10px;
    text-decoration: none;
    color: #f1f1f1;
    margin-bottom: none;
    display: block;

}

.icon-account {
    color: white;
    padding: 10px 10px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position:static;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0;    
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-align: left;
    text-decoration: none;
    display: block; 
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}
