.container-banner {
    position: relative;
}

/* Centered text */
.centered-left {
    position: absolute;
    top: 15%;
    left: 4%;
}

.services {    
    margin: 60px 15px 15px 10px;
    padding: 0 30px 30px 30px;
    min-height: 270px;
    max-height: 350px;
    max-width: 300px;   
    border-radius: 10px;
    background-color: #fff;
    transition: all .4s ease-in-out; 
}

.services .icon {
    transform: translateY(-40%);
    text-align: center;
    margin-bottom: 0;
}

.services .services-body {
    text-align:justify;
    display: inline-block;
    margin-bottom: 10px
}

.services:hover {
    box-shadow: 5px 6px 6px 2px #677380;
    background-image: linear-gradient(-45deg, #35cdd8 0%, #4289f5 100%);
    transform: scale(1.1);
}

/* .chart-container{
    position: relative; 
    height:25rem; 
    width:40rem;
    border-style: solid;
    border-radius: 10px;
    border-color: lightgrey;
    border-width: 1px;
    padding: 1rem;
    margin-bottom: 1rem;
} */
