

.accuracy{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
}

.result{
    margin-top: 1rem;
}

.accuracy label, .result label {
    margin-top: 2px;
    margin-right: 5px;
}

.result input{
    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-color: lightgrey;
    border-radius: 4px;
    width: 9.7rem;
    padding-left: 6px;
}

.accuracy input {
    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-color: lightgrey;
    border-radius: 4px;
    width: 5rem;
    padding-left: 6px;
}

.input-group-append{
    height: 2rem;
    width: 2rem;
}

.input-group-append{
    background-color: wheat;
}

.training-form [type="submit"]{
    display:none;
}

.import-form{
    margin: 0px;
}
.import-form form{
    display: flex;
    flex-direction: column;
}

.import-form button{
    width: fit-content;
    margin-top: 0.8rem;
    margin-bottom: 1rem;
}

.import-form input{
    margin-left: 1.5rem;
}

.alert-message {
    width:fit-content;
}

.search{
    display: flex;
    flex-direction: row;
}

.search input{
    margin-right: 1rem;
}

.prediction-accuracy{
    margin-top: 2rem;
}

.prediction-recall input, .prediction-precision input{
    width: 5rem;
}

.prediction-form-label{
    width: 7rem;
    margin-bottom: 5px;
}
.prediction-form-input{
    width: 13rem;
    border: solid 1px lightgrey;
    margin-bottom: 5px;
}