.table-container{
    margin-top: 5rem;
    width: 90%;

}

.table-title{
    font-weight: lighter;
    font-size: 20px;
    margin-bottom: 20px;
}

.table-container table{
    border-top:solid;
    border-width: 2px;
}

.req-button{
    margin:3px;
}

.buttons-row{
    width:8rem;
}

.buttons-container{
    display: flex;
    justify-content: space-evenly;
}

.page-buttons{
    display: flex;
    justify-content: space-between;
}